.lgc_haserror {
    border-color: #e9170e;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 13, 17, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 13, 17, 0.6);
}

.lgc_mainform, .lgc_searchform {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    line-height: 3;
}

.lgc_searchresult {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.lgc_searchresulttable {
    border-radius: 5px;
}

.lgc_searchresulttable tbody{
    cursor: pointer;
}

.lgc_searchresulttable thead tr {
    background-color: #f0dbe4;
    border-color: #f0dbe4;
}

.lgc_searchform {
    text-align: center;
}

.lgc_searchform .input-group {
    width: 100%;
}

.lgc_searchform button {
    background-color: #f0dbe4;
    cursor: default !important;
    border: 1px solid #f0dbe4;
    opacity: 1 !important;
}

.lgc_searchform button:hover, .lgc_searchform button:focus {
    background-color: #f0dbe4 !important;
    border: 1px solid #f0dbe4 !important;
}

.lgc_searchform input {
    text-align: right;
    width: 100%;
    margin-left: -4px;
    height: 34px;
    display: initial;
    border-radius: 4px;
    border: 1px solid #f0dbe4;
}

.lgc_searchform input:focus {
    border: 1px solid #f0dbe4;
}

.lgc_mainform input, select {
    text-align: right;
    width: 300px;
    margin-left: auto;
    height: 32px;
    display: initial;
    border-radius: 4px;
    border: 1px dotted lightgray;
    float: right;
    background-color: white;
}

.lgc_mainform textarea {
    text-align: right;
    width: 300px;
    margin-left: auto;
    height: 45px;
    display: initial;
    border-radius: 4px;
    border: 1px dotted lightgray;
    float: right;
    min-width: 300px;
    max-width: 300px;
}
.lgc_mainform input[type="checkbox"]{
    width: 15px;
    height: 15px;
    margin-top: 10px;
}

.lgc_mainform input:focus, .lgc_mainform input:hover,
.lgc_mainform select:focus, .lgc_mainform select:hover
{
    border: 1px solid lightgray;
}

.lgc_mainform button {
    margin-top: 10px;
    /*margin-right: 23%;*/
    width: 150px;
}

.lgc_form_control {
    text-align: center;
    max-width: 100%;
    min-width: 170px;
}

.lgc_form_control span {
    margin-left: 30px;
}


.lgc_mainform label {
    width: 250px;
    white-space: nowrap;
}

.lgc_ro_input {
    background-color: transparent;
    border: none !important;
    font-weight: 600;
}

.lgc_deleteclient {
    width: 100%;
    background-color: #f0dbe4;
    border-radius: 5px;
    line-height: 2;
}

.lgc_deleteclient i {
    float: right;
    margin: 9px;
    cursor: pointer;
    color: #803755;
}

.lgc_deleteclient label {
    font-weight: 100;
    margin-left: 5px;
    font-style: italic;
}

.lgc_tedit {
    width: 10%;
    text-align: center;
    cursor: pointer;
    color: #7e3553;
    display: table-cell;
    padding-right: 8px;
    /*padding-left: 5px;*/
}

.lgc_tform {
    width: 98%;
    line-height: 3;
    display: grid;
}

.lgc_tform input, .lgc_tform textarea{
    float: right;
    width: 300px;
    text-align: right;
    line-height: 2;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.lgc_tform textarea {
    line-height: 1.4 !important;
}

.lgc_tform label {}

.multiselect-native-select {
    float: right;
}

.multiselect-container > li > a > label > input[type="checkbox"]{
    width: 0;
}

.lgc_ttype {}

.lgc_ttype div {
    line-height: 1;
    text-align: right;
    width: 60%;
    margin-top: -30px;
}

.lgc_ttype div label {
    width: 85px;
}

.lgc_search_pager {
    text-align: right;
}

.lgc_search_pager label {
    cursor: pointer;
    height: 32px;
    width: 32px;
    background-color: #f0dbe4;
    text-align: center;
    padding: 6px;
    margin: 5px;
    border-radius: 4px;
    opacity: 0.8;
}


.lgc_search_pager label:hover {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.lgc_page_active {
    background-color: #da7ca6 !important;
}

.lgc_search_control {
    text-align: center;
}

.lgc_search_control i {
    opacity: 0.5;
}

.lgc_search_control i:hover {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.lgc_company_enabled, .lgc_company_disabled {
    cursor: pointer;
}

.lgc_company_disabled {
    background-color: #c26e91 !important;
}

#transactions_list {
    margin-left: -25%;
    width: 150%;
}

#company_list {
    text-align: center;
    padding-top: 20px;
}

.input-group {
    width: 200px;
    float: right;
}

.filter {

}

.filter button {
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 20px;
}

.navbar-inverse {
    background: linear-gradient(45deg, #c36f92, #7e3553);
    background-color: #c36f92;
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #f7edf1;
}

.navbar-inverse .navbar-nav > li > a {
    color: #f7edf1;
}

.footer {
    background-color: #f0dbe4;
}

.lgc_login_label{
    float: left;
    line-height: 2;
    width: 150px;
}

.site-login {
    padding-left: 25%;
    text-align: center;
}


.loader_right_top {
    float: right;
    margin-top: 0px;
}

.loader {
    border: 4px solid #c36f92;
    border-top: 4px solid #7e3553;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    visibility: hidden;
    box-shadow: 0 0 5px #c36f92;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal-dialog-centered {
    margin-top: 25vh;
}

.nav i {
    margin-right: 5px;
}

#text_count {
    float: right;
    text-align: right;
}

.lgc_download_bar {
    float: left;
    line-height: 32px;
    width: 100%;
    margin-top: 10px;
}

.lgc_hint_warning{
    color: red;
    position: relative;
    top: -10px;
    font-size: 12px;
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.modal-header .close {
    margin-top: -20px;
}

.modal-title {
    line-height: 1;
}

.lgc_table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.lgc_column_element, .lgc_column_element_right {
    display: table-cell;
    padding: 20px;
}

.lgc_column_element .input-group, .lgc_column_element_right .input-group {
    width: 150px;
}

.lgc_column_element input, .lgc_column_element select, .lgc_column_element_right input, .lgc_column_element_right select{
    text-align: right;
    width: 150px;
    margin-left: auto;
    height: 32px;
    display: initial;
    border-radius: 4px;
    border: 1px dotted lightgray;
    float: right;
}

.lgc_column_element_right label{
    padding-top: 5px;
    padding-right: 5px;
}

.lgc_column_element_right {
    float: right;
}

.thead-dark {
    background-color: #7e3553;
    color: white;
}

.lgc_credit_prepaid_item {
    background-color: #c26e91;
}

.lgc_credit_exist_warn {
    display: flex;
    float: left;
    color: #c26e91;
}